@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.h-100vh {
  min-height: 100vh;
}

.stepper {
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stepper-container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 2.5rem;
}

.step-number {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
}

.step-line {
  height: 2.5rem;
  width: 2px;
  background-color: grey;
  position: absolute;
  top: 2.5rem;
}

.active {
  background-color: green;
}

hr.horizontaline {
  border-top: 1px dotted grey;
}

.animation {
  position: relative;
  /* width: 100%; */
  animation-name: start_up_animation;
  animation-duration: 1s !important;
  /* animation-iteration-count: 1;  */
}

/* .text_top_animation{
  width: 100 !important;
    position: relative ;
    animation-name: top_text_animation;
    animation-duration: 2s !important;
  } */

.banner_color_grad {
  background-image: linear-gradient(180deg, #8d2af7, #bc4ce6);
}

.background-image {
  background-image: url("../../public/images/form_background.jpg");
  background-size: cover;
  background-position: center;
}

@keyframes start_up_animation {
  0% {
    opacity: 0;
    left: 50px;
    top: 50px;
  }
  50% {
    opacity: 0.7%;
    left: 0px;
    top: 50px;
  }
  100% {
    opacity: 1;
    left: 0px;
    top: 0px;
  }
}

@keyframes top_text_animation {
  0% {
    opacity: 0;
    left: 25px;
    top: 50px;
  }
  50% {
    opacity: 0.7%;
    left: 0px;
    top: 25px;
  }
  100% {
    opacity: 1;
    left: 0px;
    top: 0px;
  }
}

@media (min-width: 320px) and (max-width: 375px) {
  /* Example for small screens */
  .homepage-container {
    width: 280px;
  }
  .otp-sm-screen-320-width {
    width: 290px;
  }
}

@media (min-width: 375px) and (max-width: 425px) {
  /* Example for small screens */

  .homepage-container {
    width: 342px;
  }
}

@media (min-width: 425px) and (max-width: 640px) {
  /* Example for small screens */
  .homepage-container {
    width: 342px;
  }
}
@media (min-width: 640px) and (max-width: 768px) {
  /* Example for small screens */

  .homepage-container {
    width: 500px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  /* Example for medium screens */
}

@media (min-width: 1024px) and (max-width: 1536px) {
  /* Example for medium screens */
}

@media (min-width: 1650px) and (max-width: 2560px) {
  /* Example for large screens */

  .container-max-2560 {
    width: 700px;
    height: 300px;
  }
  .email-2xlg-screen-2560-outer-container-width {
    width: 700px;
    height: 350px;
  }
}

@media (min-width: 2560px) {
  /* For screens larger than 2560px */

  .lg-screen-2560-justify-between {
    justify-content: space-between;
  }
  .otp-lg-screen-2560-container-width {
    width: 800px;
  }

  .email-2xlg-screen-2560-container-width {
    width: 75%;
  }

  .email-2xlg-screen-2560-outer-container-width {
    width: 700px;
    height: 350px;
  }
}
